<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Nr</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @products.each do |product| %>
        <% i += 1 %>
      <tr>
        <td><%= i %></td>
        <td><%= link_to product.name, user_product_path(product) %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= render 'partial', :item =>  @products[0] %>

<% if false %>
<%= render 'partial', collection: @products[0], as: :item %>
<%= render partial: 'partial', collection: @products[0], as: :item %>
<%= @items = 'passed' %>
<%= render 'partial', collection: @item, as: :item %>
<% end %>


<%= link_to 'New Product', new_user_product_path %>
