<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<!--<div style="border:1px">-->
<%#@category_products.each do |p| %>
<%#=  %><!--<br>-->
<%# end %>

<!--</div>-->

<table>
  <thead>
  <tr>
    <th>Nr</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
<!--    <th></th>
    <th></th>
    <th></th>-->
  </tr>
  </thead>

  <tbody>
  <% i = 0 %>
  <% @category_products.each do |product| %>
      <% i += 1 %>
      <tr>
        <td><%= i %></td>
        <td><%#= link_to product.name, product_path(product) %>
          <%= link_to product.name, user_product_path(product) %>
        </td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
      </tr>
  <% end %>

  </tbody>
</table>

<% if @category_products.count == 0 %>
    Brak Produktów
<% end %>

<br>
<!--<%= link_to 'Back', user_categories_path %>-->
